.min-100 {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

html, body {
    height: 100%;
}

.logo-coventry {
    background: url(../images/logo_white.png) no-repeat;
    height: 54px;
    width: 192px;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: lighter;
}

/** Light Mode Styling **/
[data-bs-theme="light"] .bg-header {
    background-color: #256cba;
}

[data-bs-theme="light"] .text-header {
    color: #ffffff;
}

/** Dark Mode Styling **/
[data-bs-theme="dark"] .bg-header  {
    background-color: #402565;
}

[data-bs-theme="dark"] .text-header {
    color: #ffffff;
}